@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand&display=swap');


body {
   background-color: snow;
   color: black;
   text-align: center;
   font-family: 'Quicksand';
}

a {
   color: dodgerblue;
   text-decoration: none;
}

a:hover {
   color: red;
}

/* ===== nav ===== */
nav {
   display: grid;
   align-items: center;
   padding: 1em;
}

.right {
   text-align: right;
}

.navLinks {
   padding-right: 3px;
}

/* ===== header ===== */
#profilepic {
   width: 25%;
   border: 3px solid black;
   border-radius: 50%;
}

/* ===== main ===== */
.left{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.live{
   font-size: 20px;
   margin-bottom: 15px;
}

.repo {
   text-decoration: underline;
   margin-bottom: 0;
}

.description{
   display: grid;
   align-content: center;
}

.projects {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-column-gap: 10px;
   margin-top: 2em;
   margin-bottom: 2em;
}

.websiteImages {
   width: 600px;
   max-width: 100%;
   border: 2px solid grey;
}

.techused {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.techIcons {
   height: 70px;
   width: 110px;
   margin: 2px;
   border-style: groove;
}

hr {
   width: 75%;
   align: center;
}

/* ===== footer ===== */
footer{
   text-align: center;
   height: 70px;
   padding-bottom: 15px;
}

p{
   margin-bottom: 3px;
}

.icons{
   width: 35px;
}

#resume {
   font-size: 18px;
}
